.Navbar{
    background-color:whitesmoke;
    height: 60px;
    width:205vh;
    margin: -22px -8px;
    position: fixed;
    display: flex;
    align-items: flex-end;
}
.items{
    margin-left: 1080px; 
    margin-right: 0;    
}
#a{
    padding: 5px;
}

