
.Maintrip{
    display: flex;  
}
#one1{ 
  position: relative;
}
.first img{
    margin-left: 50px; 
}
.second img{
    margin-left:10px ;
    margin-right:10px ;
}
.details1{
    position: absolute;
    top: 50%;
    left: 20%;
    font-family: 'Dosis', sans-serif;
    font-size:xx-large;
    font-weight: 100;
}
.details2{
    position: absolute;
    top: 50%;
    left: 37%;
    
}
.details3{
    position: absolute;
    top: 43%;
    left: 60%;
}
.Maintrip #one1 img:hover{
    opacity: 0.8;
    cursor: pointer;transition: 0.3s all;
}
#btn{
    font-family: 'Dosis', sans-serif;
    font-size:2rem;
    font-weight: 200;
}
.upper-case{
    background: none;
    box-shadow: none;
    border: none;
    margin-left: 50px;
    padding-bottom: 20px;
    border-bottom: solid 1px;
    font-family: 'Dosis', sans-serif;
    font-size:large;
    font-weight: 100;
    cursor: pointer;
}
.upper-case:hover{
    color: snow;
}

@media (max-width: 768px) {
    .Maintrip{
        display:block;
    }
    #one1 img{
        margin-left: -8px; 
        margin-right: 0;
        width: 104%;

    }

}      


