#footer{
    background-color: rgb(58, 56, 51);
    height: 300px;
    width: 101.1%;
    margin-left: -8px;
    margin-top: -4px;
    margin-bottom: -8px;
    margin-top: 50px;
}
#footer img{
    margin-top: 100px;
    margin-left: 25%;
}